@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

body > div {
  flex: 0 1 auto;
}

body > div:nth-child(2) {
  flex: 1 1 auto;
}

img {
  max-width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  min-width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

a {
  text-decoration: none;
  color: #000;
}

/* My solution 
   use git diff to see the differences.
*/
.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.footer {
  background-color: #ccc;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 7px
}
