body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 5px 10px;
}

.title {
  font-size: 18px;
  background: #e3f4ff;
  padding: 20px 10px;
  margin: 7px 0;
}

.content {
  background: #e3f4ff;
  margin: 7px 0;
  padding: 20px 10px;
}

.button-container {
  background: #e3f4ff;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px 0;
  padding: 10px 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  margin: 5px auto;
  padding: 10px 20px;
}
